/* --- Navbar --- */
:root {
    --couleur-sombre: #101010;
    --couleur-sang: #8b0000;
    --couleur-metal: #a0a0a0;
    --couleur-lueur: #ff0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar.main-navbar {
    background-color: rgba(0, 0, 0, 0.8) !important;
    border-bottom: 2px solid #5a4b3d;
}

.navbar-logo {
    width: 80px; 
    height: 70px;
}

.navbar-title {
    color: var(--couleur-lueur) !important;
    font-family: 'Times New Roman', serif;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.8); 
}

.navbar-centre-links {
    height: 50px;
}

.mystery-box {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-decoration: none;
    background-image: url('box.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent; 
}

.box-text {
    color: var(--couleur-lueur);
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 0 5px rgb(71, 3, 3);
}

.mystery-box:hover .box-text {
    color: rgb(255, 255, 255);
}

.nav-button {
    padding: 8px 15px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #f0e6d2 !important; 
    background-color: #380000 !important; 
    border: 1px solid #7c0000 !important; 
}

.nav-button:hover {
    background-color: #550000 !important; 
    border-color: #ff0000 !important;
    color: white !important;
}

/* --- Info profs ---*/

body {
    background: linear-gradient(to bottom, #000000 20%, #414141 80%);
    background-repeat: no-repeat;
    position: relative;
    overflow-x: hidden;
    margin: 0;
    min-height: 100vh;
    width: 100vw;
    z-index: 0;
}

body::after {
  content: "";
  position: fixed;
  top: 0; 
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('noisy-texture-300x300-o18-d10-c-4f4f4f-t1.png');
  opacity: 0.4;
  pointer-events: none;
  z-index: 0;
}

.container {
  margin-right: 0 !important;
  margin-left: 0 !important;
  max-width: 100% !important;
  max-height: 100% !important;
  position: relative;
  z-index: 1;
}

.road-rage-regular {
  font-family: "Road Rage", sans-serif;
  font-style: normal;
  text-shadow: 4px 4px 6px rgb(0, 0, 0);
  -webkit-text-stroke: 0.5px black;
}

.darkRed {
  color: rgb(119, 11, 11);
}

.red {
  color: rgb(197, 20, 20);
}

.fontSize {
  font-size: 60px;
}

.paragraphSize {
  font-size: 45px;
}

.rectangle {
  background: linear-gradient(to bottom, black 20%, rgb(145, 8, 8) 80%);
}