                                /*Display */
.flex
{
    display: flex;
}

                                /* Justify-Content */

.justifySpaceBetween
{
    justify-content: space-between;
}

.justifySpaceAround
{
    justify-content: space-around;
}

.justifyCenter
{
    justify-content: center;
}

.justifyFlexStart
{
    justify-content: flex-start;
}

.justifyFlexEnd
{
    justify-content: flex-end;
}

                            /* Align-Items */

.alignFlexStart
{
    align-items: flex-start;
}

.alignFlexEnd
{
    align-items: flex-end;
}

.alignCenter
{
    align-items: center;
}

                                /* Flex-Direction */

.directionColumn
{
    flex-direction: column;
}

.directionRow
{
    flex-direction: row;
}

                                /*Couleurs  */
.Noir
{
    background-color: black;
}

.Blanc
{
    background-color: white;
}

.Orange
{
    background-color: orange;
}
.Vert
{
    background-color: green;
}   

.Bleu
{
    background-color: blue;
}   

.VertJaune
{
    background-color: greenyellow;
}

.Violet
{
    background-color: purple;
}

.Jaune
{
    background-color: yellow;
}

.Rouge
{
    background-color: red;
}

.Gris
{
    background-color: gray;
}

.Cuivre
{
    background-color: orangered;
}

.Rose
{
    background-color: pink;
}

.Cyan
{
    background-color: aqua;    
}

.Beige
{
    background-color: #f3ece6;
}

                                            /*Paragraphe */
.paragrapheBlanc
{
    color: white;
}

.paragrapheNoir
{
    color: black;
}

.paragrapheGris
{
    color: gray;
}

.paragrapheRouge
{
    color: red;
}

.paragrapheBleu
{
    color: blue;
}


                                                /* César */

.bodyCHDE
{
    gap: 40px;
}

.chiffrer
{
    width: 100%;
    height: 100%;
}

.borderCHDE
{
    border: gray solid 2px;
}

.arrondieBouton
{
    border-radius: 20px;
}

.tailleBouton
{
    width: 98%;
    height: 20%;
}
.axeBouton
{
    width: 32%;
    height: 50%;
}

.margeInt
{
    margin-left: 10px;
    margin-bottom: 20px;
}

.borderBouton
{
    border: gray solid 1px;
}

.gappeur
{
    gap: 10px;
}

.inputNombre
{
    padding-top: 10px;
    padding-bottom: 10px;
}