table,th,td
{
    border: solid 3px rgb(110, 7, 158);
    text-align: center;
    border-collapse: collapse;
    padding: 2px;
}

.tableau,td
{
    padding: 10px 30px 10px 30px;
    text-align: center;
}

.purple_cube
{
    display: flex;
    background-color: purple;
    border: 1px;
    padding: 30px;
}