/* Partie Flex */

.flexCommandant
{
    display: flex;
}

.items
{
    align-items: center;
}

.ecartCommandantCenter
{
    justify-content: center;
}

.ecartCommandantSpaceAround
{
    justify-content: space-around; 
}
.ecartCommandantSpaceBetween
{
  justify-content: space-between;
}
.ecartCommandantFlexEnd
{
    justify-content: flex-end;
}
.ecartCommandantFlexStart
{
    justify-content: flex-start;
}

.directionCommandantColumn
{
    flex-direction: column;
}

.directionCommandantRow
{
    flex-direction: row;
}




/* Partie des couleurs */

.Noir
{
    background-color: black;
}

.Blanc
{
    background-color: white;
}

.Orange
{
    background-color: orange;
}
.Vert
{
    background-color: green;
}   
.Bleu
{
    background-color: blue;
}   

.VertJaune
{
    background-color: greenyellow;
}
.Violet
{
    background-color: purple;
}
.Jaune
{
    background-color: yellow;
}

.Rouge
{
    background-color: red;
}
.Gris
{
    background-color: gray;
}
.Cuivre
{
    background-color: orangered;
}

.Rose
{
    background-color: pink;
}

.Cyan
{
    background-color: aqua;    
}

.logoBlue
{
   background-color: rgb(40, 140, 221); 
}



/* Partie Radius des carres */

.arrondieCarre
{
    border-radius: 10px;
}

/* Partie Radius des ronds */

.arrondieRond
{
    border-radius: 40px;
}

                                            /* Carre Cyan */
.size
{
    height: 50px;
    width: 50px;
}



/* Paragraphes */

.paragrapheBlanc
{
    color: white;
}

.paragrapheLogoFontSize
{
    font-size: 20px;
}

.paragrapheNoir
{
    color: black;
}

                                /* Margin et Padding */
/* Padding */

.navInterieurLargeur
{
    padding: 2%;
}
.paddingInterneRecherche
{
    padding: 10px 20px 10px 20px;
    opacity: 0.5;
}

.paddingBoutonRecherche
{
    padding: 7px 12px 7px 12px;
}

.margeTopBoutonGauche
{
    margin-top: 15%;
}

.margeTopBoutonCentre
{
    margin-top: 0.87%;
}

.margeEgauxCentre
{
    margin-top: 0.3%;
}

.HLFBoutonGauche
{
    width: 250%;
    height: 6%;
    justify-content: flex-start;
    align-items: center;
}

.gappeur
{
    gap: 10px;
}


/* Logo */

.LogoTextDecoration
{
    text-decoration: none;
}

.margeGauche
{
    margin-left: 10px;
}

.margeDroiteLogo
{
    margin-right: 10px;
}

.margeGaucheBoutonCentre
{
    margin-left: 8%;
}
/* Marge */

.logoLargeur
{
    width: 8%;
}

.grasLogo
{
    font-weight: 700;
}


/* Navigation */

.navLargeur
{
    width: 70%;
}



/* Recherche */

.rechercheLargeur
{
    width: 20%;
}

.arrondieInput
{
    border-radius: 100px;
    height: 30px;
    width: 150px;
}



/* Partie du centre haut du site  */

.headerBodyBouton
{
    width: 800px;
    height: 50px;
}

.statABC
{
    width: 160px;
    height: 50px;
}


/*  Partie droite du centre */

.boutonDroiteMarge
{
    margin-left: 15px;
}

.widgetBouton
{
    height: 10%;
    width:245%;
}

.suivreBouton
{
    height: 15%;
    width: 245%;
}
.margeSuivreDroite
{
    margin-right: 10px;
}

.boutonSuivre
{
    width: 30%;
}

.boutonAET
{
    width: 40%;
}
.hauteurAET
{
    height: 9%;
}

.boutonTacheClassiqueLargeur
{
    width: 50%;
}

.tacheHauteur
{
    height: 120px;
}

.tachePetit
{
    width: 19%;
}

.beurreHauteur
{
    height: 80px;
    margin-top: 40px;
}
.hautHauteur
{
    height: 60px;
}