                              /*Display */
.flex
{
    display: flex;
}

                                /* Justify-Content */

.justifySpaceBetween
{
    justify-content: space-between;
}

.justifySpaceAround
{
    justify-content: space-around;
}

.justifyCenter
{
    justify-content: center;
}

.justifyFlexStart
{
    justify-content: flex-start;
}

.justifyFlexEnd
{
    justify-content: flex-end;
}

                            /* Align-Items */

.alignFlexStart
{
    align-items: flex-start;
}

.alignFlexEnd
{
    align-items: flex-end;
}

.alignCenter
{
    align-items: center;
}

                                /* Flex-Direction */

.directionColumn
{
    flex-direction: column;
}

.directionRow
{
    flex-direction: row;
}

                                /*Couleurs  */
.Noir
{
    background-color: black;
}

.Blanc
{
    background-color: white;
}

.Orange
{
    background-color: orange;
}
.Vert
{
    background-color: green;
}   

.Bleu
{
    background-color: blue;
}   

.VertJaune
{
    background-color: greenyellow;
}

.Violet
{
    background-color: purple;
}

.Jaune
{
    background-color: yellow;
}

.Rouge
{
    background-color: red;
}

.Gris
{
    background-color: gray;
}

.Cuivre
{
    background-color: orangered;
}

.Rose
{
    background-color: pink;
}

.Cyan
{
    background-color: aqua;    
}

.Beige
{
    background-color: #f3ece6;
}

                                            /*Paragraphe */
.paragrapheBlanc
{
    color: white;
}

.paragrapheNoir
{
    color: black;
}

.paragrapheGris
{
    color: gray;
}

.paragrapheRouge
{
    color: red;
}

.paragrapheBleu
{
    color: blue;
}


/* Timeur  */


.bordureRouge
{
    background-color: black;
    border: red 2px solid;
}

.bordureGrisse
{
    border: gray 2px solid;
}

.gappeur
{
    gap: 50px;
}

.sizeNombre
{
    font-size: 100px;
}

.sizeTextBouton
{
    font-size: 20px;
}

.paddingBouton
{
    padding: 10px 20px 10px 20px;
}

.paddingBottomBody
{
    padding-bottom: 50px;
}
.paddingTopBody
{
    padding-top: 40px;
}