 
 
 /*Display */
.flex
{
    display: flex;
}

                                /* Justify-Content */

.justifySpaceBetween
{
    justify-content: space-between;
}

.justifySpaceAround
{
    justify-content: space-around;
}

.justifyCenter
{
    justify-content: center;
}

.justifyFlexStart
{
    justify-content: flex-start;
}

.justifyFlexEnd
{
    justify-content: flex-end;
}

                            /* Align-Items */

.alignFlexStart
{
    align-items: flex-start;
}

.alignFlexEnd
{
    align-items: flex-end;
}

.alignCenter
{
    align-items: center;
}

                                /* Flex-Direction */

.directionColumn
{
    flex-direction: column;
}

.directionRow
{
    flex-direction: row;
}

                                /*Couleurs  */
.Noir
{
    background-color: black;
}

.Blanc
{
    background-color: white;
}
.Rose{
    background-color: pink;
}

.backgroundImg
{
    background-image: url(Image/2025\,\ 11_48_00.png);
    background-size: cover;
};


.paragrapheNoir
{
    color: black;
}

.paragrapheGris
{
    color: gray;
}

.paragrapheViolet
{
    color: #240047;
}

.paragrapheWhite
{
    color: white;
}

/* Margin */
.marginNavRight
{
    margin-right: 3%;
}

.marginAllNav
{
    margin-right: 10%;
}

/* Padding */



                            /* nav barre  */


.fondNav 
{
    background-color: white ;
    opacity: 0.2;
    padding: 0.5%;
    width: 100%;
}

li
{
    list-style: none;
}

.textNone
{
    text-decoration: none;
}

/* Texte Bonjour */

.bonjour
{
    
    margin-right: 25%;
}

.bonjourDev
{
    font-size: 5em;
    margin-right: 5%;
}

.paddingBonjour
{
    padding-top: 15%;
}
